font-family: Poppins;

font-family: 'Open Sans';
 
body{
  margin: 0px;
}
#layer-1 {
  background-image: url(images/bg-hero-desktop.svg);
  background-color: #ffffff;
  background-size: cover;
  background-attachment: fixed;
  padding: 4%;
}
.layer-1-up{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.item-up img{
  width: 200px;
  max-width: 70%;
}
.top-right{
  text-align: center;
  float: right;
  line-height: 2px;
  width: 200px;
  max-width: 80%;
  border-radius: 100px;
  background-color: white;
  font-size: medium;
  font-family: Poppins;
  font-weight: 800;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0,0.12);
}
.layer-1-down{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.item-down {
  flex: 1;
  align-self: center;
}
.header-text{
  font-size: 30px;
  font-weight: 600;
  font-family: Poppins;
}
.body-text{
  font-weight: 200;
  font-family: 'Open Sans';
}
.layer-1-right{
  flex: 1.67;
 }
.layer-1-down img{
  margin: auto;
  padding: 3%;
  max-height: 97%;
  max-width: 97%;
}
.purple-bg {
  color: white;
  border: solid hsl(322, 100%, 66%) 10px ;
  background-color: hsl(322, 100%, 66%);
  border-radius: 100px;
  text-align: center;
  width: 200px;
}
.layer-2 {
  margin:4%;
  height: 400px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.10);
 
}
.item-body{
  align-self: center;
}
.layer-left-text{
  padding: 0 5%;
  max-width: 40%;
}
.layer-right-text{
  padding: 0 5%;
  max-width: 40%;
}

.layer-right-img img{
  margin: auto;
  max-height: 70%;
  max-width: 70%;
  padding: 0 5%;
  float: right;
}

.layer-left-img img{
  padding: 0 0 0 10%;
  margin: auto;
  max-height: 70%;
  max-width: 70%;
}
.before-footer{
  z-index: 100;
  position:relative;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0,0.12);
  width: 50%;
  background-color: #ffffff;
  padding: 2%;
  text-align: center;
  margin: 0 auto;
  font-family: 'Open Sans';  
}
.before-footer-text-2{
  color: white;
  border: solid hsl(322, 100%, 66%) 10px ;
  background-color: hsl(322, 100%, 66%);
  border-radius: 100px;
  text-align: center;
  width: fit-content;
  margin: auto;
  font-family: 'Open Sans';
}
.container{
  background-color: hsl(192, 100%, 9%);
  height: 100%;
  margin-top: -6%;
  z-index: -1;
}
.footer-flex{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo-2 img{
  margin: 40px 4% 0 4% ;
  filter: invert(100%);
  max-width: 12%;
}
.more{
  padding: 8% 0 0 0;
}
.content{
  flex: 1;
  margin: 2% 4%;
}
.contact img{
  float: left;
}
.content p{
  color: #ffffff;
  padding-left: 25px;
  font-size: small;
  padding-bottom: 20px ;
}
.about-us a{
  text-decoration: none;
}
.copyright{
  display: flex;
  justify-content: flex-end;
  padding: 0 4% 4% 0;
  color: #ffffff;
  font-family: Poppins;
  font-size: small;
}